@use "../custom/custom-bootstrap-v5" as *;

.menu {
	.navbar-brand {
		margin: 0;
		padding: 0 4.75rem 0 1.875rem !important;
	}

	a,
	.btn {
		font-family: "Suez One", serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1.0625rem;
		line-height: 1.375rem;
		text-align: center;
		text-transform: uppercase;
	}

	a {
		color: $black !important;
		padding: 0 1.875rem 0 0 !important;

		&:hover,
		&:focus {
			color: $primary !important;
		}
	}

	.active {
		color: $primary !important;
	}

	.navbar-icons {
		padding-right: 4.5rem;

		a {
			font-size: 1.5rem;
			line-height: 1.25rem;
			text-align: center;
			color: $secondary !important;
			padding: 0 1.875rem 0 0 !important;

			&:hover,
			&:focus {
				color: $primary !important;
			}

			&:last-child {
				padding: 0 !important;
			}
		}
	}

	.navbar-btns {
		margin: 0;
		padding: 0 1.875rem 0 0;

		.btn {
			color: $primary;
			padding: 0.625rem 1.875rem;
		}

		.sign-up-btn {
			margin: 0 1.875rem 0 0;
		}

		.login-btn {
			border: 0.1875rem solid $primary;
			border-radius: 0.25rem;
		}

		.sign-up-btn,
		.login-btn {
			&:hover,
			&:focus {
				background: $primary;
				color: $white;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.menu {
		.navbar-nav {
			margin: 0 !important;
			padding: 0 !important;
		}

		.collapse {
			margin-top: 1.875rem !important;
		}

		.navbar-brand {
			margin: 0 !important;
			padding: 0 !important;
		}

		a {
			padding: 0 !important;
			margin: 0 0 1rem 0 !important;
		}

		.navbar-icons {
			a {
				padding: 0 !important;
			}
		}

		.navbar-btns {
			margin: 0 !important;
			padding: 0 !important;

			.sign-up-btn {
				margin: 0 0 1rem 0 !important;
			}
		}
	}
}

@media (max-width: 1280px) {
	.menu {
		.navbar-icons {
			display: none;
		}
	}
}