@use "../custom/variables/colors" as *;

// NAV BAR BUTTONS
.sign-up-btn {
	background: $white;
	color: $primary;
	line-height: 1.375rem;
	padding: 0.75rem 2.375rem;
	outline: 4px solid $white;
	outline-offset: -4px;
	border-radius: 0.25rem;

	&:hover,
	&:focus {
		background: $white;
		color: $primary;
		outline: 4px solid $primary;
		outline-offset: -4px;
		border-radius: 0.25rem;
	}
}

.login-btn {
	background: $white;
	color: $primary;
	line-height: 1.375rem;
	padding: 0.75rem 2.375rem;
	outline: 4px solid $primary;
	outline-offset: -4px;
	border-radius: 0.25rem;

	&:hover,
	&:focus {
		background: $primary;
		color: $white;
		outline: 4px solid $primary;
		outline-offset: -4px;
		border-radius: 0.25rem;
	}
}

// SUB NAV BUTTONS
.find-store-btn {
	background: transparent;
	color: $primary;
	line-height: 1.375rem;
	padding: 0.6875rem 1.5rem;
	outline: 4px solid $primary;
	outline-offset: -4px;
	border-radius: 0.25rem;

	&:hover,
	&:focus {
		background: $primary;
		color: $white;
		outline: 4px solid $white;
		outline-offset: -4px;
		border-radius: 0.25rem;
	}
}

// SEARCH CARD BUTTONS
.search-btn {
	background: $primary;
	color: $white;
	border: none;

	&:hover,
	&:focus {
		background: $white;
		color: $primary;
		outline: 4px solid $primary;
		outline-offset: -4px;
	}
}

// MAILER SUBSCRIPTION BUTTON

// SALES BANNER BUTTON
.sale-btn {
	background: transparent;
	color: $white;
	line-height: 1.375rem;
	padding: 0.6875rem 2.125rem;
	outline: 4px solid $white;
	outline-offset: -4px;
	border-radius: 0.25rem;

	&:hover,
	&:focus {
		background: $primary;
		color: $white;
		outline: 4px solid $white;
		outline-offset: -4px;
		border-radius: 0.25rem;
	}
}

// ADD TO CARD CARD BUTTON
.add-to-card-btn {
	background: $primary;
	color: $white;
	border: none;

	&:hover,
	&:focus {
		background: $white;
		color: $primary;
		outline: 4px solid $primary;
		outline-offset: -4px;
	}
}

// CUSTOM DROPDOWN MENU BUTTONS
.custom-dropdown-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $white;
	border: 1px solid $light;
	border-radius: 2px;
	font-size: 0.875rem;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	color: $gray-100;
	text-transform: uppercase;

	&:hover,
	&:active {
		outline: 2px solid #00a2ff50;
	}
}
