.strikethrough {
    position: relative;
  }
  .strikethrough:before {
    text-decoration: line-through;
    position: absolute;
    content: " R599";
    margin: 0;
    padding: 0;
    top: 40%;
    left: 0;
    border-top: 2px solid red;
    background: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }