@use "../custom/custom-bootstrap-v5" as *;

.sale-banner {
	background: $primary; // backup if image fails to load
	background-image: url("../../assets/images/sale-banner.png");
	background-repeat: no-repeat;
	background-position: center;

	p {
		font-style: normal;
		font-weight: 400;
		line-height: 1.375rem;
	}
}
