// REWAY COLORS
$blue: #00a2ff;             // REWAY BLUE               #00A2FF
$black: #111111;            // REWAY BLACK              #111111
$gray-600: #828282;         // REWAY GREY               #828282
$gray-200: #eaeaea;         // REWAY SECONDARY GREY     #EAEAEA
$white: #ffffff;            // REWAY WHITE              #FFFFFF
$gray-100: #82828250;       // REWAY LIGHT GREY         #828282 50%
$gray-900: #4a4a4a;         // REWAY FOOTER GREY        #4A4A4A

// THEME COLOUR VARIABLES
$primary: $blue;
$secondary: $gray-600;
$light: $gray-200;
$dark: $gray-900;

.text-light-opac {
	color: $gray-100;
}
