// FONTS
// imports _functions.scss file from /node_modules/bootstrap/scss/.. source code
// _variables.scss requires this to execute the map merge function
@import "../../../node_modules/bootstrap/scss/functions";
// imports _variables.scss where theme variables are defined
@import "../../../node_modules/bootstrap/scss/variables";

$custom-font-sizes: (
  1: 2.5rem,      // 40px
  2: 1.875rem,    // 30px
  3: 1.25rem,     // 20px
  4: 1.125rem,    // 18px
  5: 1.0625rem,   // 17px
  6: 1rem,        // 16px
  7: 0.875rem,    // 14px
  8: 0.75rem      // 12px
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

.reway-primary-serif {
	font-family: "Suez One", serif;
	font-weight: 400;
}

.reway-sans-serif {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
}

.reway-sans-serif-bold {
	font-family: "PT Sans", serif;
	font-weight: 700;
}
